<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Expanding Modal</title>

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link rel="stylesheet" href="main.min.css">
  </head>
  <body ng-app="myApp">
  <a href="https://github.com/stefanjudis/angular-expanding-modal"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
    <script src="angular-expanding-modal-es5.js"></script>
    <script>
        var myApp = angular.module('myApp',[ 'sj.expandingModal' ] );

        myApp.controller('DoubleController', ['$scope', 'ExpandingModal', function($scope, ExpandingModal ) {
          $scope.openModalInContainer = function( event, position, content ) {
            var className = 'modal';

            if ( position ) {
              className += '__' + position;
            }

            var modal = ExpandingModal.create({
              template     :  '<div class="' + className + ' card">' +
                '<div class="container">' +
                  '<div>' +
                    '<h2 >Appended to container</h2>' +
                  '</div>' +
                  '<p>{{ modal.content }}</p>' +
                  '<div>' +
                    '<button ng-click="modal.close()">' +
                      'Close' +
                    '</button>' +
                  '</div>' +
                '</div>' +
              '</div>',
              container    : event.target.parentNode.parentNode,
              controller   : function ( $scope ) {
                this.close   = modal.close;
                this.content = content;
              },
              controllerAs : 'modal'
            });

            modal.open( event.target );
          };

          $scope.openModal = function( event, position, content ) {
            var className = 'modal';

            if ( position ) {
              className += '__' + position;
            }

            var modal = ExpandingModal.create({
              template     :  '<div class="' + className + ' card">' +
                '<div class="container">' +
                  '<div>' +
                    '<h2 >Appended to body</h2>' +
                  '</div>' +
                  '<p>{{ modal.content }}</p>' +
                  '<div>' +
                    '<button ng-click="modal.close()">' +
                      'Close' +
                    '</button>' +
                  '</div>' +
                '</div>' +
              '</div>',
              controller   : [ '$scope', function ( $scope ) {
                this.close   = modal.close;
                this.content = content;
              } ],
              controllerAs : 'modal'
            });

            modal.open( event.target );
          };

          $scope.openModalWithTemplateUrl = function( event, content ) {
            var modal = ExpandingModal.create({
              templateUrl  : 'partial.html',
              controller   : [ '$scope', function ( $scope ) {
                this.close     = modal.close;
                this.content   = content;
              } ],
              controllerAs : 'modal'
            });

            modal.open( event.target );
          };
        } ] );
    </script>
    <main class="flex-container">
      <section class="presentation-container" ng-controller="DoubleController">
        <div>
          <svg width="169px" height="125px" viewBox="0 0 169 125">
              <desc>Logo of Angular Expanding Modals</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                  <rect id="Rectangle-3" stroke="#79D7FF" stroke-width="3" sketch:type="MSShapeGroup" x="48" y="49.8873734" width="73.705814" height="25.9357128" rx="8"></rect>
                  <rect id="Rectangle-3-Copy-9" stroke="#00BCD4" stroke-width="3" sketch:type="MSShapeGroup" x="11.6990526" y="12" width="82.8048164" height="50.1910861" rx="8"></rect>
                  <rect id="Rectangle-3-Copy-10" stroke="#00BCD4" stroke-width="3" sketch:type="MSShapeGroup" x="74.496131" y="12" width="82.8048164" height="50.1910861" rx="8"></rect>
                  <rect id="Rectangle-3-Copy-12" stroke="#00BCD4" stroke-width="3" sketch:type="MSShapeGroup" x="11.6990526" y="61.821331" width="82.8048164" height="50.1910861" rx="8"></rect>
                  <rect id="Rectangle-3-Copy-11" stroke="#00BCD4" stroke-width="3" sketch:type="MSShapeGroup" x="74.496131" y="61.821331" width="82.8048164" height="50.1910861" rx="8"></rect>
              </g>
          </svg>
          <h1>Angular Expanding Modal</h1>
        </div>
        <h2>Append modals to body</h2>
        <div class="button-container">
          <div>
            <button ng-click="openModal( $event, 'upperLeft', 'This is upper left.' )">open upper left</button>
            <button ng-click="openModal( $event, 'upperCenter', 'This is upper center.' )">open upper center</button>
            <button ng-click="openModal( $event, 'upperRight', 'This is upper right.' )">open upper right</button>
          </div>
          <div>
            <button ng-click="openModal( $event, 'middleLeft', 'This is middle left.' )">open middle left</button>
            <button ng-click="openModal( $event, 'middleCenter', 'This is middle center.' )">open middle center</button>
            <button ng-click="openModal( $event, 'middleRight', 'This is middle right' )">open middle right</button>
          </div>
          <div>
            <button ng-click="openModal( $event, 'bottomLeft', 'This is bottom left' )">open bottom left</button>
            <button ng-click="openModal( $event, 'bottomCenter', 'This is bottom center' )">open bottom center</button>
            <button ng-click="openModal( $event, 'bottomRight', 'This is bottom right' )">open bottom right</button>
          </div>
          <div>
            <button ng-click="openModal( $event, 'fullScreen', 'This is bottom right' )">open fullscreen</button>
          </div>
        </div>
        <h2>Append modals to container</h2>
        <div class="button-container">
          <div>
            <button ng-click="openModalInContainer( $event, 'inContainerTop', 'This is container top' )">open top</button>
          </div>
          <div>
            <button ng-click="openModalInContainer( $event, 'inContainerFull', 'This is full container' )">open in full</button>
          </div>
          <div>
            <button ng-click="openModalInContainer( $event, 'inContainerBottom', 'This is container bottom' )">open bottom</button>
          </div>
        </div>
        <h2>Load template partials</h2>
        <div class="button-container">
          <div>
            <button ng-click="openModalWithTemplateUrl( $event, 'This is middle center' )">open with partial</button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
