*, *::before, *::after {
  box-sizing : border-box;
}

html, body {
  height : 100%;
}

a, a:visited {
  color : #00BCD4;
}

body {
  font-family : 'Roboto','Helvetica','Arial',sans-serif!important;
  color : #888;
  font-weight : 200;

  line-height : 1.5;
}

.button {
  font-family : 'Roboto','Helvetica','Arial',sans-serif!important;
  background : #00BCD4;
  color : #fff;

  width : 15em;

  border : none;

  padding : 1em;
  margin : .5em;

  font-weight : 200;
  font-size : 1em;

  will-change : box-shadow;

  transition : background .25s ease-out, box-shadow .25s ease-out;
}

.button:hover, .button:focus {
  background : #10CCE4;
  box-shadow : 0 .125em .25em #aaa;
}

.button:active {
  background : #10CCE4;
  box-shadow : 0 0 .123em #aaa;
}

.button__grey {

  font-family : 'Roboto','Helvetica','Arial',sans-serif!important;
  background : #ccc;
  color      : #555;

  width : 15em;

  border : none;

  padding : .5em;
  margin : .5em .5em 2em;

  font-weight : 200;
  font-size : 1em;

  will-change : box-shadow;

  transition : background .25s ease-out, box-shadow .25s ease-out;
}

.button__grey:hover, .button__grey:focus {
  background : #ddd;
  box-shadow : 0 .125em .25em #aaa;
}

.button__grey:active {
  background : #bbb;
  box-shadow : 0 0 .123em #aaa;
}


.button-container {
  margin-bottom : 1em;
}

.presentation-container {
  position : relative;
  max-width : 50em;
}

[class^="modal"] {
  position : fixed;

  width  : 25%;

  z-index: 5;
  background : white;

  border : 1px solid #aaa;

  color : #888;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;

  text-align : center;

  flex-direction : column;
}

.card {
  text-align : center;
  padding : 1em;
  border : 1px solid #ccc;

  box-shadow : 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)
}

pre {
  overflow : scroll;
}

script.is-active {
  display : block;

  text-align : left;
  white-space : pre;

  overflow : scroll;

  background : #eee;

  font-family : monospace;

  padding : 1em;

  margin-bottom : 1em;

  color : #444;
}

[class^="modal"] .container {
  opacity : 0;

  transition : opacity .2s ease-in;
}

[class^="modal"].done  .container {
  opacity : 1;

  transition : opacity .2s ease-in .125s;
}

h1 {
  font-weight : 200;
  font-size : 2em;
  color : #00BCD4;

  padding : .25em 0 .25em;
  margin : 0;
}

h2 {
  font-weight : 200;
  font-size : 1.5em;
  color : #888;

  margin : 0 0 .5em;
  padding : .25em 0 .25em;
  border-bottom : 1px solid #eee;
}

.page-content {
  margin : 0 auto;

  max-width : 50em;
}

.modal__upperLeft {
  top  : 5%;
  left : 5%;

}

.modal__upperCenter {
  top  : 5%;
  left : 50%;

  transform : translate3d( -50%, 0, 0 );
}

.modal__upperRight {
  top   : 5%;
  right : 5%;
}

.modal__middleLeft {
  top : 50%;
  left : 5%;

  transform : translate3d( 0, -50%, 0 );
}

.modal__middleCenter {
  top : 50%;
  left : 50%;

  transform : translate3d( -50%, -50%, 0 );
}

.modal__middleRight {
  right : 5%;
  top : 50%;

  transform : translate3d( 0, -50%, 0 );
}

.modal__bottomLeft {
  left : 5%;
  bottom : 5%;
}

.modal__bottomCenter {
  left : 50%;
  bottom : 5%;

  transform : translate3d( -50%, 0, 0 );
}

.modal__bottomRight {
  right : 5%;
  bottom : 5%;
}

.modal__fullScreen {
  top : 5%;
  right : 5%;
  bottom : 5%;
  left : 5%;

  position : fixed;
  width : auto;

  z-index : 5;
}

.modal__inContainerTop {
  position : absolute;

  top : 0;
  left : 0;
  right : 0;

  width : auto;
}

.modal__inContainerBottom {
  position : absolute;

  bottom : 0;
  left : 0;
  right : 0;

  width : auto;
}

.modal__inContainerFull {
  position : absolute;

  top : 1em;
  right : 1em;
  left : 1em;
  bottom : 1em;

  width : auto;
}

.transitionOut {
  transition : opacity .3s ease-in, transform .3s ease-in;
}
.transitionIn {
  transition : opacity .3s ease-out, transform .3s ease-out;
}
